<% if(error && error.length > 0) %>
<div class="ui attached message">
  <div class="header">
  Some error happened have another go
  </div>
  <p>Fill out the form below to sign-up for a new account</p>
</div>
<% } >
<% if{success && success.length > 0) %>
<div class="ui attached message">
  <div class="header">
    Welcome to our site!
  </div>
</div>
